# LISTS

## A list is a value that contains multiple values in an ordered sequence.

## Using indexes to access values in list

In [0]:
num_list = [0, 1, 2, 2, 3, 5, 6, 13, 21, 34]
num_list[0]

In [0]:
fruits = ['apple', 'cherry', 'banana', 'Lemon', 'Grape']
fruits[1]

In [0]:
# lists in list

num_list_2 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
num_list_2

In [0]:
num_list_2[1]

In [0]:
num_list_2[2][0], num_list_2[2][2]

## Negative Indexes

In [0]:
num_list = [0, 1, 2, 2, 3, 5, 6, 13, 21, 34]

num_list[-1]

In [0]:
num_list[-2]

## Getting Sublists with Slices

In [0]:
num_list[0:3]

In [0]:
num_list[3:]

In [0]:
num_list[:]

In [0]:
sub_list = num_list[0:7:2]
sub_list

In [0]:
num_list

In [0]:
num_list[::-1]

## Length of list function _len()_

In [0]:
len(num_list)

In [0]:
len(fruits)

## Update list values with indexes

In [0]:
fruits = ['apple', 'cherry', 'banana', 'Lemon', 'Grape']
fruits[2] = 'orange'

In [0]:
fruits

In [0]:
sub_list = num_list[0:3]
sub_list

In [0]:
sub_list[1] = 10
sub_list

In [0]:
num_list

## Append to list

In [0]:
fruits

In [0]:
fruits.append('banana')
fruits.append('peach')
fruits

## List Concatenation and List Replication

In [0]:
fruits_nums = fruits + num_list
fruits_nums

In [0]:
short_list = ['a', 'b', 'c']
short_list

In [0]:
short_list * 3

## Insert to list

In [0]:
fruits.insert(0, 'avocado')
fruits

In [0]:
fruits.insert(3, 'pear')

In [0]:
fruits

## Removing Values from Lists with _del_ Statements
_del_ statement removes the value at given index

In [0]:
fruits

In [0]:
del fruits[3]  # remove element at index 3
fruits

## Removing Values from Lists with _remove_ function
Function _remove()_ removes the first matching value from the list

In [0]:
numbers = [3, 2, 5, 7, 9, 3, 5]
numbers

In [0]:
numbers.remove(5)   # remove first element with value = 5
numbers

In [0]:
fruits.append('cherry')
fruits.append('orange')
fruits

In [0]:
fruits.remove('cherry')
fruits

## Removing values from Lists with _pop_ function
function _pop()_ removes value at given index and returns it

if no index is given, last value will be removed and returned

In [0]:
print('fruits: ', fruits)
a = fruits.pop()     # last value if no index is given
print('a: ', a)
print('fruits: ', fruits)

In [0]:
b = fruits.pop()
print('b: ', b)
print('fruits: ', fruits)

In [0]:
print(numbers)
n = numbers.pop(3)
print('popped value at index 3: ', n)
print(numbers)

## For loop with list

In [0]:
num_list = [0, 1, 2, 2, 3, 5, 6, 13, 21, 34]

# sum of the numbers in the list

sum = 0
for item in num_list:
    sum += item
    
print(sum)

In [0]:
# or use index
sum = 0

for i in range(len(num_list)):
    sum = sum + num_list[i]
    
print(sum)

In [0]:
## The in and not in Operators
print(31 in num_list)
print(13 in num_list)
print('hello' not in num_list)

## Sorting the Values in a List with the sort() Method

In [0]:
numbers = [100, -23, 4.56, 290, 33, 7]
numbers

In [0]:
numbers.sort()
numbers

In [0]:
numbers.sort(reverse=True)
numbers

In [0]:
fruits.sort(reverse=True)
fruits

In [0]:
# doesn't work
not_sortable = ['apple', 1, 3.14, 'cat']
not_sortable.sort()

## List-like type: Tuples
* tuples support many operations like lists: indexing, slicing, len(), in and not operators, etc.  
* tuples are typed with parentheses (), not square brackets []
* tuples are IMMUTABLE, while lists are MUTABLE

In [0]:
tom = ('Tom', 5, 3.75)
jerry = ('Jerry', 3, 3.89)

In [0]:
tom[0], tom[1]

In [0]:
tom[1] = 6  # doesn't work, because tuples are IMMUTABLE

In [0]:
# convert to a list
tom_list = list(tom)
tom_list

In [0]:
# then we can change it, because lists are MUTABLE
tom_list[1] = 6
tom_list

In [0]:
# we can change it back to tuple
tom = tuple(tom_list)
tom

## Strings are also List-like and IMMUTABLE

In [0]:
name = 'Tom'
name[2]

In [0]:
len(name)

## Reference to list

In [0]:
# a number list
outer_list = [1 ,2, 5.6, 100]
inner_list = ['a', 'b', 'c']

In [0]:
outer_list[1] = inner_list     # index 1 in a_list holds a reference to inner_list
outer_list

In [0]:
inner_list.append('d')     # update inner_list affects outer_list
outer_list

## Lists are passed into functions by reference value

In [0]:
def append_to_list(a_list):
    a_list.append('extra')
    
my_list = [1, 2, 3]
append_to_list(my_list)
my_list

##List comprehension

In [0]:
nums = [1, 2, 3, 4, 5]
squares = [ n*n for n in nums ]
print(squares)

In [0]:
nums = [4, 5, 3, 6, 7, 2, 1, 9]
odds = [ n for n in nums if n % 2 == 1]
print(odds)

In [0]:
quotes = "Imagination is more important than knowledge"
tokens = quotes.split()

In [0]:
lens = [ len(tk) for tk in quotes.split() ]
lens

In [0]:
token_lens = [ (tk, len(tk)) for tk in quotes.split() ]
token_lens

## Need help? dir(list) or help(list)

In [0]:
dir(list)

# SETS

Copied from https://www.geeksforgeeks.org/sets-in-python/

A Set is an unordered collection data type that is iterable, MUTABLE and has NO DUPLICATE elements. Python's set class represents the mathematical notion of a set.

In [0]:
set_1 = set()
set_2 = {2, 3, 4, 5, 3, 4, 3, 7}

In [0]:
type(set_1), set_1

In [0]:
type(set_2), set_2

## Add to set

In [0]:
set_1.add(7)
set_1.add('dog')
set_1.add('dog')
set_1.add(3.1415926)
set_1

## Union of sets

In [0]:
set_1.union(set_2)

In [0]:
set_1 | set_2

## Intersect of sets

In [0]:
set_1.intersection(set_2)

In [0]:
set_2 & set_1

## Difference of sets

In [0]:
set_2 - set_1

In [0]:
set_1 - set_2

In [0]:
set_1.difference(set_2)

## set <-> list

In [0]:
list(set_1)

In [0]:
set([2, 3, 4, 2, 6, 7, 1, 5, 6])

## Need help? dir(set) or help(set)

In [0]:
help(set)

# Dictionary (dict)

Dictionary in Python is an unordered collection of data value pairs

In [0]:
# empty dictionary
d1 = {}  # d1 = dict()

# add key-value pairs to the dictionary
d1['a'] = 12
d1['b'] = 3
d1['c'] = 47
d1['d'] = 18

# show the dictionary
d1

In [0]:
# access value by key
print(d1['c'])

In [0]:
# all keys
d1.keys()

In [0]:
# all values
d1.values()

In [0]:
for entry in d1.items():
    print(entry)

In [0]:
for k, v in d1.items():
    print('%s -> %s' % (str(k), str(v)))

## Merge two dictionaries
update() method adds items to the dictionary if the key is not in the dictionary. If the key is in the dictionary, it updates the key with the new value.

In [0]:
nfl_team_list_1 = {
    'Georgia': 'Atlanta Falcons',
    'New York': 'Buffalo Bills',
    'New Jersey': 'New York Giants',
    'Pennsylvania': 'Philadelphia Eagles'
}
nfl_team_list_2 = {
    'Arizona': 'Arizona Cardinals',
    'New York': 'Buffalo Bills',
    'New Jersey': 'New York Jets',
    'Pennsylvania': 'Pittsburgh Steelers',
    'Illinois': 'Chicago Bears'
}

In [0]:
nfl_team_list_1.update(nfl_team_list_2)
nfl_team_list_1

## Remove items from a dictionary

In [0]:
# pop() removes an item with speficifed key and returns the value
val = d1.pop('c')
print(val)
print(d1)

In [0]:
# del
car = {
    'brand': 'Ford',
    'model': 'Explorer',
    'year': 2017,
    'price': 20000
}
car

In [0]:
# del keyword delete item by key
del car['price']
print(car)

## Dictionary comprehension

In [0]:
d1 = {'a': 12, 'b': 3, 'c': 47, 'd': 18}
d1

In [0]:
# inverting a dictionary
d1_inverted = { v: k for k, v in d1.items() }
d1_inverted

In [0]:
# double all values in d1
{ k: v*2 for k, v in d1.items() }

# More Examples

In [0]:
state_list = [
    {
        'State': 'NJ',
        'Capital': 'Trenton',
        'Population': 9000000,
        'Cities': ['Newark', 'Jersey City', 'Paterson']
    },
    {
        'State': 'NY',
        'Capital': 'Albany',
        'Population': 20000000,
        'Cities': ['New York', 'Buffalo', 'Rochester']
    },
    {
        'State': 'PA',
        'Capital': 'Harrisburg',
        'Population': 13000000,
        'Cities': ['Philadelphia', 'Pittsburgh', 'Allentown']
    }      
]

In [0]:
state_list[2]['Cities']

In [0]:
state_dict = {
    'NY': {
        'Capital': 'Albany',
        'Population': 20000000,
        'Cities': ['New York', 'Buffalo', 'Rochester']
    },
    'NJ': {
        'Capital': 'Trenton',
        'Population': 9000000,
        'Cities': ['Newark', 'Jersey City', 'Paterson']
    },
    'PA': {
        'Capital': 'Harrisburg',
        'Population': 13000000,
        'Cities': ['Philadelphia', 'Pittsburgh', 'Allentown']
    }
}

In [0]:
state_dict['NY']

In [0]:
state_dict['NY']['Cities'][0]

### Practice Problems:

1. write a program that returns a list that contains only the elements that are common between two lists

In [0]:
list1 = [3, 4, 5, 6, 2, 1, 4, 9, 0, -2, 7]
list2 = [-3, 8, 5, 6, 2, 1, -5, 9, 12, -2, 11]

def common_list(l1, l2):
    pass # your code here

print(common_list(list1, list2))

2. Write a function that takes a list of numbers and returns the minimum and maximum numbers as a tuple.

In [0]:
num_list = [3, 4, 5, 6, 2, 1, 4, 9, 0, -2, 7]

def min_max(n_list):
    pass # your code here

print(min_max(num_list))

3. Write a function to generate the first 10 Fibonacci numbers and return the numers in a list

$F_n = F_{n-1} + F_{n-2}$

$F_0 = 0$

$F_1 = 1$

In [0]:
def fibonacci_numbers(up_to=10):
    # first two fibonacci numbers
    fibs = [0, 1]
    
    pass   # your code here

print(fibonacci_numbers())

4. Write a function to reverse a string ( Friday -> yadirF)

In [0]:
def reverse_string(str):

    pass    # your code here

print(reverse_string('Friday'))

5. Write a function to reverse word order of a string containing multiple words. For example: Tom chases Jerry -> Jerry chases Tom

In [0]:
def reverse_words(str):

    pass    # your code here

str1 = 'Tom chases Jerry'
print(reverse_words(str1))

6. Given a list of stock records, find out the total number of shares for each stock.

Symbol, Price, Shares <br>
IBM, 142.3, 50 <br>
MSFT, 170.21, 100 <br>
GOOG, 1469.32, 15 <br>
IBM, 142.3, 20 <br>
C, 74.78, 100 <br>
CAT, 133.73, 80 <br>
C, 74.78, 200 <br>
GOOG, 1469.32, 7 <br>
C, 74.78, 80 <br>

7. Given a list of stock buy/sell records, find out net values for each stock, and the total net value

Symbol, Price, Shares, Buy/Sell <br>
IBM, 142.3, 50, Buy <br>
MSFT, 170.21, 100, Buy <br>
GOOG, 1469.32, 15, Buy <br>
IBM, 142.3, 20, Sell <br>
C, 74.78, 100, Buy <br>
CAT, 133.73, 80, Buy <br>
C, 74.78, 200, Buy <br>
GOOG, 1469.32, 7, Sell <br>
C, 74.78, 80, Sell <br>