# LISTS

## A list is a value that contains multiple values in an ordered sequence.

In [0]:
# Define a list is simple, just put comma separated values inside square brackets

# list of numbers
[1, 2, 3, 4, 5]

In [0]:
# list of strings
['apple', 'cherry', 'banana', 'Lemon', 'Grape']

In [0]:
# list of mixtures

[1, 'apple', 'cat', 3.1416]

In [0]:
# list inside list
['apple', [1, 2, 3], 'banana']

In [0]:
# assign a list to a variable
fruits = ['apple', 'cherry', 'banana', 'Lemon', 'Grape']
fruits

In [0]:
empty_list = []
empty_list_2 = list()

In [0]:
empty_list, empty_list_2

## Using indexes to access values in list

In [0]:
num_list = [0, 1, 2, 2, 3, 5, 6, 13, 21, 34]
num_list[0]

In [0]:
num_list[4]

In [0]:
fruits = ['apple', 'cherry', 'banana', 'Lemon', 'Grape']
fruits[1]

In [0]:
# lists in list

num_list_2 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
num_list_2

In [0]:
num_list_2[1]

In [0]:
num_list_2[2][0], num_list_2[2][2]

## Negative Indexes

In [0]:
num_list = [0, 1, 2, 2, 3, 5, 6, 13, 21, 34]

num_list[-1]

In [0]:
num_list[-2]

## Getting Sublists with Slices

In [0]:
num_list[0:3]

In [0]:
num_list[3:]

In [0]:
num_list[:]

In [0]:
sub_list = num_list[0:3]
sub_list

In [0]:
sub_list[1] = 10
sub_list

In [0]:
num_list

## Length of list function _len()_

In [0]:
len(num_list)

In [0]:
len(fruits)

## Update list values with indexes

In [0]:
fruits = ['apple', 'cherry', 'banana', 'Lemon', 'Grape']
fruits[2] = 'orange'

In [0]:
fruits

In [0]:
sub_list = num_list[0:3]
sub_list

In [0]:
sub_list[1] = 10
sub_list

In [0]:
num_list

## Append to list

In [0]:
fruits

In [0]:
fruits.append('banana')

In [0]:
fruits

In [0]:
fruits.append('peach')
fruits

## List Concatenation and List Replication

In [0]:
fruits_nums = fruits + num_list
fruits_nums

In [0]:
short_list = ['a', 'b', 'c']
short_list

In [0]:
short_list * 3

## Insert to list

In [0]:
fruits.insert(0, 'avocado')
fruits

In [0]:
fruits.insert(3, 'pear')

In [0]:
fruits

## Removing Values from Lists with _del_ Statements
_del_ statement removes the value at given index

In [0]:
fruits

In [0]:
del fruits[3]  # remove element at index 3
fruits

## Removing Values from Lists with _remove_ function
Function _remove()_ removes the first matching value from the list

In [0]:
numbers = [3, 2, 5, 7, 9, 3, 5]
numbers

In [0]:
numbers.remove(5)   # remove first element with value = 5
numbers

In [0]:
fruits.append('cherry')
fruits.append('orange')
fruits

In [0]:
fruits.remove('cherry')
fruits

## Removing values from Lists with _pop_ function
function _pop()_ removes value at given index and returns it

if no index is given, last value will be removed and returned

In [0]:
print('fruits: ', fruits)
a = fruits.pop()     # last value if no index is given
print('a: ', a)
print('fruits: ', fruits)

In [0]:
b = fruits.pop()
print('b: ', b)
print('fruits: ', fruits)

In [0]:
print(numbers)
n = numbers.pop(3)
print('popped value at index 3: ', n)
print(numbers)

## For loop with list

In [0]:
num_list = [0, 1, 2, 2, 3, 5, 6, 13, 21, 34]

# sum of the numbers in the list

sum = 0
for item in num_list:
    sum += item
    
print(sum)

In [0]:
# or use index
sum = 0

for i in range(len(num_list)):
    sum = sum + num_list[i]
    
print(sum)

In [0]:
## The in and not in Operators

## Sorting the Values in a List with the sort() Method

In [0]:
numbers = [100, -23, 4.56, 290, 33, 7]
numbers

In [0]:
numbers.sort()
numbers

In [0]:
numbers.sort(reverse=True)
numbers

In [0]:
fruits.sort(reverse=True)
fruits

In [0]:
# doesn't work
not_sortable = ['apple', 1, 3.14, 'cat']
not_sortable.sort()

## List-like type: Tuples
* tuples support many operations like lists: indexing, slicing, len(), in and not operators, etc.  
* tuples are typed with parentheses (), not square brackets []
* tuples are IMMUTABLE, while lists are MUTABLE

In [0]:
tom = ('Tom', 5, 3.75)
jerry = ('Jerry', 3, 3.89)

In [0]:
tom[0], tom[1]

In [0]:
tom[1] = 6  # doesn't work, because tuples are IMMUTABLE

In [0]:
# convert to a list
tom_list = list(tom)
tom_list

In [0]:
# then we can change it, because lists are MUTABLE
tom_list[1] = 6
tom_list

In [0]:
# we can change it back to tuple
tom = tuple(tom_list)
tom

## Strings are also List-like and IMMUTABLE

In [0]:
name = 'Tom'
name[2]

In [0]:
len(name)

## References revisited
### remember (mutable) object references are passed by value in function argument passing?

In [0]:
# a number list
outer_list = [1 ,2, 5.6, 100]
inner_list = ['a', 'b', 'c']

In [0]:
outer_list[1] = inner_list     # index 1 in a_list holds a reference to inner_list
outer_list

In [0]:
inner_list.append('d')     # update inner_list affects outer_list
outer_list

## Lists are passed by reference value

In [0]:
def append_to_list(a_list):
    a_list.append('extra')
    
my_list = [1, 2, 3]
append_to_list(my_list)
my_list

##List comprehension

In [0]:
nums = [1, 2, 3, 4, 5]
squares = [ n*n for n in nums ]
print(squares)

In [0]:
nums = [4, 5, 3, 6, 7, 2, 1, 9]
odds = [ n for n in nums if n % 2 == 1]
print(odds)

In [0]:
quotes = "Imagination is more important than knowledge"
tokens = quotes.split()

In [0]:
lens = [ len(tk) for tk in quotes.split() ]
lens

In [0]:
token_lens = [ (tk, len(tk)) for tk in quotes.split() ]
token_lens

### Practice Problems:

1. write a program that returns a list that contains only the elements that are common between two lists

2. Write a function that takes a list of numbers and makes a new list of only the first and last elements of the given list.

3. Write a function to generate the first 10 Fibonacci numbers and return the numers in a list

$F_n = F_{n-1} + F_{n-2}$

$F_0 = 0$

$F_1 = 1$

4. Write a function to reverse a string ( Friday -> yadirF)

5. Write a function to reverse word order of a string containing multiple words. For example: Tom chases Jerry -> Jerry chases Tom